<?xml version="1.0" encoding="utf-8" ?> 
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <!--throwExceptions="true"
      internalLogFile="file.txt">-->
  <targets>
    <target name="console" 
            xsi:type="Console" 
            layout="${date:format=HH\:mm\:ss}|${level}|${message}" />
      
    <target name="file"  
            xsi:type="File" 
            fileName="${basedir}/nlog.log" 
            layout="${date}|${level}|${message}" />
      
    <target name="database" 
            xsi:type="Database"
            connectionString="${var:СonnectionStringSQL}">
      <commandText>
              insert into LogBazis.dbo.log_wpfBazis (
                UserCod, UserName, CompName, Process, LogDate,
                LogLevel, Message, Exception, StackTrace, Data, Ver,
                CodApstac, KL
              ) values (
                @UserCod, @UserName, @CompName, @Process, @LogDate,
                @LogLevel, @Message, @Exception, @StackTrace, @Data, @Ver,
                @CodApstac, @KL
              );
      </commandText>
      <parameter name="@UserCod"    layout="${var:UserCod}" />
      <parameter name="@UserName"   layout="${var:UserName}" />
      <parameter name="@CompName"   layout="${machinename}" />
      <parameter name="@Process"    layout="${processid}" />
      <parameter name="@LogDate"    layout="${date}" />
      <parameter name="@LogLevel"   layout="${level}" />
      <parameter name="@Message"    layout="${message}" />
      <parameter name="@Exception"  layout="${exception}" />
      <parameter name="@StackTrace" layout="${stacktrace:format=Flat:separator=&#13;&#10;=> }" />
      <parameter name="@Data"       layout="${exception:format=Data}" />
      <parameter name="@Ver"        layout="${var:Ver}" />
      <parameter name="@CodApstac"  layout="${var:CodApstac}" />
      <parameter name="@KL"         layout="${var:KL}" />
    </target>
  </targets>
  <rules>
    <!--<logger name="*" minlevel="Debug" writeTo="console" />-->
    <logger name="*" minlevel="Trace" writeTo="database" />
    <!--<logger name="*" minlevel="Trace" writeTo="file" />-->
  </rules>
</nlog>