<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Reporting.WinForms.v11" version="1.0.0.0" targetFramework="net40" />
  <package id="NeoLua" version="0.9.17" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net40" />
  <package id="NLog" version="4.6.8" targetFramework="net40" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net40" />
</packages>